 body{
        background: #eee;
     }
 
      #canvas {
        width: 640px;
        height: 480px;
        background: #000;
      }

      #c_w{
	width:640px;
	margin:0 auto;

      }

	h1{
	font-size: 35px;
	padding: 0px;
	margin: 0px;
	}

     #ab{
	font-size: 15px;
	padding: 0px;
	margin: 0px;
	}

     #ac{
	font-size: 25px;
	padding: 0px;
	margin: 0px;
Å@Å@Å@}

     .b_1{
	background-color: rgb(255, 0, 0, 0.2);
	}